#SaveLinks, #OpenLinks, #Stats
{
	width:200px;
	background-color:#E4F3FF;
	border:1px solid #79BCEA;
	border-radius:4px;
	padding:10px; 
	margin:10px 5px;
}

.scrollContainer
{
	position: relative;
	border: 1px solid #79BCEA;
    bottom:0px;
    left:0px;
    right: 0px;
    height:150px;
    width: 300px;
    
}

.innerScroll
{
	position: absolute;
	overflow-y: auto;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
    height: 100%;
}

/* button pressed */
#SaveLinks:active, #OpenLinks:active, #Stats:active
{
	top : 1px;
	position : relative;
}

#saveInNewName {
	visibility: hidden;
}